.header {
  width: 100%;
  height: 64px;
  padding: 16px;
  box-shadow: var(--drop-shadow);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.logoText {
  font-family: var(--ff-logo);
  font-size: 28px;
}

.logoTextColor1 {
  color: var(--primary);
}

.logoTextColor2 {
  color: var(--secondary);
}

.menuOptions {
  width: 100px;
}