.wrapper {
    display: flex;
    align-items: center;
    padding: var(--padding-regular) 0;
    gap: var(--padding-sm);
}

.contactDetails {
    display: flex;
    gap: var(--padding-xs);
    font-size: var(--fs-sm);
}

.author {
    font-size: var(--fs-sm);
}

.img {
    border-radius: 50%;
}