.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer a {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
}

.copyRight {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
}

.socialMedia {
    display: flex;
    gap: var(--padding-medium);
    list-style: none;
}

.logo {
    display: flex;
    gap: var(--padding-medium);
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

@media (max-width: 600px) {

    .footer {
        flex-direction: column;
        gap: 24px;
    }

    .menuOptions {
        flex-direction: column;
    }

    .nav {
        width: 100%;
    }
}