.footer {
  display: flex;
  padding: 16px;
  border-top: 1px solid #eaeaea;
  flex-direction: column;
}

.footerLinks {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
  
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
}