.main {
    color: var(--primary-text);
    font-weight: var(--fw-regular);
    margin-top: var(--padding-xlarge);
    margin-bottom: var(--padding-large);
}

.h3 {
    font-weight: var(--fw-bold);
}

.contactInfo {
    margin-top: var(--padding-large);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xs);
}

.contactDetails {
    display: flex;
    gap: var(--padding-xs);
    font-size: var(--fs-sm);
}

.icon {
    width: 36px;
}