.main {
    margin-top: 24px;
}

.col {
    margin-bottom: var(--padding-large);
}

a.blogItem {
    text-decoration: none;
    margin-bottom: 24px;
}

a.blogItem {
    transform: scale(1);
    transition: transform 0.3s;
}

a.blogItem:hover {
    transform: scale(1.55);
    text-decoration: underline;
}