.main {
    margin-top: 24px;
}

.col {
    margin-bottom: var(--padding-large);
}

a.item {
    text-decoration: none;
    margin-bottom: 24px;
}

a.item {
    transform: scale(1);
    transition: transform 0.3s;
}

a.item:hover {
    transform: scale(1.55);
}
