.fvButton {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: var(--padding-xs) var(--padding-medium);
    border-radius: var(--border-radius);
    font-size: var(--fs-sm);
}

.fvButtonStroke {
    background-color: white;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: var(--padding-xs) var(--padding-medium);
    border-radius: var(--border-radius);
    font-size: var(--fs-sm);
}

a.fvButton, a.fvButtonStroke  {
    text-decoration: none;
}