.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

.heroText {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 48px;
}

.heroSubTextContainer {
  margin: 24px 0;
}

.subTitle {
  font-family: var(--ff-secondary);
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.sections {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  margin-top: 96px;
}

.googleFitContainer {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.googleFitContainer h2 {
  padding-left: 16px;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  
  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}
