
/* .title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
} */

.heroText {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: 48px;
}

.heroSubTextContainer {
  margin: 24px 0;
}

.subTitle {
  font-family: var(--ff-secondary);
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.googleFitContainer {
  width: 75%; 
  padding-right: 16px;
}

.googleFitHeader {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}

.googleFitHeader h2 {
  padding-left: 16px;
}

.keyFeatures {
  display: flex;
  justify-content: space-between;
}

.keyFeatures .featuresList {
  order: 2;
  width: 50%;
}

.keyFeatures .screenShots {
  order: 1;
  width: 50%;
}

.featuresList .list {
  line-height: 2.5rem;
  font-size: 16px;
  padding-left: 36px;
}


@media (max-width: 700px) {
  .googleFitContainer {
    width: 100%; 
    padding: 0;
  }

  .googleFitScreenshot {
    text-align: center;
  }

  .keyFeatures {
    flex-direction: column;
  }

  .keyFeatures .screenShots {
    text-align: center;
    order: 2;
    width: 100%;
  }

  .keyFeatures .featuresList {
    order: 1;
    margin-bottom: 36px;
    width: 100%;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
} */
