.main {
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.section {
	width: 100%;
	display: flex;
}

.section .row {
	flex: 1;
}

.headerSection {
	gap: 36px;
	display: flex;
	flex-direction: column;
}

.buttonHeaderWrapper {
	display: flex; 
	gap: 10px;
}

.headerText {
	color: var(--primary-text);
	font-family: var(--ff-secondary);
	font-size: var(--fs-xl);
	font-weight: var(--fw-bold);
}

.subTitles {
	color: var(--primary-text);
	font-family: var(--ff-secondary);
	font-size: var(--fs-l);
	font-weight: var(--fw-bold);
}

.text {
	color: var(--primary-text);
	font-size: var(--fs-reg);
	font-weight: var(--fw-regular);
}

.trainerDetails {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: var(--padding-large);
	width: 60%;
}

.trainerImageRow {
	display: flex;
	justify-content: center;
	flex: 1;
	width: 40%;
}

.testimonialSection {
	background-color: var(--secondary-background);
	padding: var(--padding-large) 0;
}

.testimonialSection .text {
	font-size: var(--fs-sm);
	margin-top: var(--padding-medium);
	font-weight: var(--fw-regular);
}

.testimonialSection .from {
	font-size: var(--fs-sm);
	font-weight: var(--fw-semi-bold);
	display: flex;
	margin-top: var(--padding-medium);
	margin-bottom: var(--padding-large);
	flex-direction: column;
}

@media (max-width: 800px) {
	.section {
		flex-direction: column;
	}

	.trainerDetails {
		width: 100%;
		order: 1;
	}
	
	.trainerImageRow {
		width: 100%;
		order: 2;
	}
}