.primaryColor {
    color: var(--primary);
}

.secondaryColor {
    color: var(--secondary);
}

.textParagraph {
    margin-bottom: 24px;
}

.menuOptions {  
    list-style: none;
    display: flex;
    gap: var(--padding-medium);
}

.menuOptions a {
    color: var(--primary-text);
    text-decoration: none;
    font-weight: var(--fw-regular);
}

.menuOptions a:hover {
    color: var(--primary);
    text-decoration: underline;
}

/* @media (max-width: 700px) {
    .sections {
        flex-direction: column;
    }
} */