.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.primaryColor {
    color: var(--primary);
}

.secondaryColor {
    color: var(--secondary);
}

.textParagraph {
    margin-bottom: 24px;
}